.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
@media screen and (max-width: 760px) {
    .shop-container{
        display: grid;
        grid-template-columns: 4.5fr 2fr;
    }
}