@media screen and (max-width: 760px) {
    .responsiveStyle{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 400px) {
    .responsiveStyle{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}